
<div>
    <h2><span translate="miaApp.dvhVolumeResult.detail.title">Dvh Volume Result</span> {{vm.dvhVolumeResult.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="miaApp.dvhVolumeResult.doseSopUid">Dose Sop Uid</span></dt>
        <dd>
            <span>{{vm.dvhVolumeResult.doseSopUid}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhVolumeResult.doseLimit">Dose Limit</span></dt>
        <dd>
            <span>{{vm.dvhVolumeResult.doseLimit | number : 1}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhVolumeResult.doseUnit">Dose Unit</span></dt>
        <dd>
            <span>{{vm.dvhVolumeResult.doseUnit}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhVolumeResult.result">Result</span></dt>
        <dd>
            <span>{{vm.dvhVolumeResult.result | number : 2}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhVolumeResult.resultUnit">Result Unit</span></dt>
        <dd>
            <span>{{vm.dvhVolumeResult.resultUnit}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhVolumeResult.version">Version</span></dt>
        <dd>
            <span>{{vm.dvhVolumeResult.version}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhVolumeResult.calculationIdentifier">Calculation Identifier</span></dt>
        <dd>
            <span>{{vm.dvhVolumeResult.calculationIdentifier}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhVolumeResult.patientId">Patient Id</span></dt>
        <dd>
            <span>{{vm.dvhVolumeResult.patientId}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhVolumeResult.planLabel">Plan Label</span></dt>
        <dd>
            <span>{{vm.dvhVolumeResult.planLabel}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhVolumeResult.containerId">Container Id</span></dt>
        <dd>
            <span>{{vm.dvhVolumeResult.containerId}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhVolumeResult.volumeOfInterest">Volume Of Interest</span></dt>
        <dd>
            <span>{{vm.dvhVolumeResult.volumeOfInterest}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhVolumeResult.error">Error</span></dt>
        <dd>
            <span>{{vm.dvhVolumeResult.error}}</span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
