<div>
    <h2 translate="miaApp.dvhVolumeResult.home.title">Dvh Volume Results</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
           <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'miaApp.dvhVolumeResult.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="containerId"><span translate="miaApp.dvhVolumeResult.containerId">Container Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="patientId"><span translate="miaApp.dvhVolumeResult.patientId">Patient Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="planLabel"><span translate="miaApp.dvhVolumeResult.planLabel">Plan Label</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="volumeOfInterest"><span translate="miaApp.dvhVolumeResult.volumeOfInterest">Volume Of Interest</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="doseLimit"><span translate="miaApp.dvhVolumeResult.doseLimit">Dose Limit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="doseUnit"><span translate="miaApp.dvhVolumeResult.doseUnit">Dose Unit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="result"><span translate="miaApp.dvhVolumeResult.result">Result</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="resultUnit"><span translate="miaApp.dvhVolumeResult.resultUnit">Result Unit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="error"><span translate="miaApp.dvhVolumeResult.error">Error</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dvhVolumeResult in vm.dvhVolumeResults track by dvhVolumeResult.id">
                    <td><a ui-sref="dvh-volume-result-detail({id:dvhVolumeResult.id})">{{dvhVolumeResult.id}}</a></td>
                    <td>{{dvhVolumeResult.containerId}}</td>
                    <td>{{dvhVolumeResult.patientId}}</td>
                    <td>{{dvhVolumeResult.planLabel}}</td>                 
                    <td>{{dvhVolumeResult.volumeOfInterest}}</td>
                    <td>{{dvhVolumeResult.doseLimit | number : 1}}</td>
                    <td>{{dvhVolumeResult.doseUnit}}</td>
                    <td>{{dvhVolumeResult.result | number : 2}}</td>
                    <td>{{dvhVolumeResult.resultUnit}}</td>
                    <td>{{dvhVolumeResult.error}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="dvh-volume-result-detail({id:dvhVolumeResult.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
