<div>
    <h2 translate="miaApp.container.home.title">Containers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'miaApp.container.searchId' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="containerStatus"><span translate="miaApp.container.containerStatus">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="configurationId"><span translate="miaApp.container.configurationId">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="patientId"><span translate="miaApp.container.patientId">PatientId</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="container in vm.containers track by container.id">
                    <td><a ui-sref="container-detail({id:container.id})">{{container.id}}</a></td>
                    <td>{{container.containerStatus}}</td>
                    <td><a ui-sref="containerconfiguration-detail({id:container.configurationId})">{{container.configurationId}}</a></td>
                    <td>{{container.patientId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <a ng-href="manager/api/map/container/{{container.id}}" class="btn btn-warning btn-sm" ng-show="vm.isMappingEnabled(container.containerStatus)">
                                <span class=" glyphicon glyphicon-new-window"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.map"></span>
                            </a>
                            <button type="submit"
                                    ui-sref="container.edit({id:container.id})"
                                    class="btn btn-primary btn-sm"
                                    ng-hide="true">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.configure"></span>
                            </button>
                            <button type="submit" 
                                    ng-click="vm.redoContainer(container.id)"
                                    class="btn btn-warn btn-sm">
                                <span class="glyphicon glyphicon-refresh"></span>
                                <span class="hidden-xs hidden-sm" translate="miaApp.container.redo"></span>
                            </button>
                            <button type="submit" 
                                    ui-sref="container-detail({id:container.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit" 
                                    ui-sref="container.delete({id:container.id})"
                                    class="btn btn-danger btn-sm" ng-disabled="vm.isDisabled(container.containerStatus)">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
