
<div>
    <h2><span translate="miaApp.container.detail.title">Container</span> {{vm.container.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="miaApp.container.containerStatus">ContainerStatus</dt></dt>
        <dd>
            <span>{{vm.container.containerStatus}}<span>
        </dd>
        <hr>
        <dt><span translate="miaApp.container.containerStatusDate">ContainerStatusDate</dt></dt>
        <dd>
            <span> {{vm.container.containerStatusDate | date:'medium'}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.container.configurationId">ConfigurationId</dt></dt>
        <dd>
            <span><a ui-sref="containerconfiguration-detail({id:vm.container.configurationId})">{{vm.container.configurationId}}</a><span>
        </dd>
        <hr>
        <dt><span translate="miaApp.container.inputPort">InputPort</dt></dt>
        <dd>
            <span>{{vm.container.inputPort}}<span>
        </dd>
        <hr>
        <dt><span translate="miaApp.container.mappingRtogRoi">Mappings</dt></dt>
        <dd>
            <span>{{vm.container.mappingRtogRoi}}<span>
        </dd>
        <hr>
        <dt><span translate="miaApp.container.modalities">Modalities</dt></dt>
        <dd>
            <span ng-bind="vm.getModalities()"></span>
        </dd>
        <hr>
        <dt><span translate="miaApp.container.configurationJson">ConfigurationJson</dt></dt>
        <dd>
            <textarea rows="5" cols="100" readonly="true" class="boxsizingBorder">{{vm.container.configuration}}</textarea>
        </dd>
        <hr>
        <dt><span translate="miaApp.container.dicomPackageEntity">DicomPackageEntity</dt></dt>
        <dd>
            <textarea rows="20" cols="100" readonly="true" class="boxsizingBorder">{{vm.container.dicomPackage}}</textarea>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
