<div>
    <h2 translate="miaApp.dvhDoseResult.home.title">Dvh Dose Results</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'miaApp.dvhDoseResult.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
      
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="containerId"><span translate="miaApp.dvhDoseResult.containerId">Container Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="patientId"><span translate="miaApp.dvhDoseResult.patientId">Patient Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="planLabel"><span translate="miaApp.dvhDoseResult.planLabel">Plan Label</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="volumeOfInterest"><span translate="miaApp.dvhDoseResult.volumeOfInterest">Volume Of Interest</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="volumeLimit"><span translate="miaApp.dvhDoseResult.volumeLimit">Volume Limit</span> <span class="glyphicon glyphicon-sort"></span></th>  
                    <th jh-sort-by="volumeUnit"><span translate="miaApp.dvhDoseResult.volumeUnit">Volume Unit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="targetPrescriptionDose"><span translate="miaApp.dvhDoseResult.targetPrescriptionDose">Target Prescription Dose</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="result"><span translate="miaApp.dvhDoseResult.result">Result</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="resultUnit"><span translate="miaApp.dvhDoseResult.resultUnit">Result Unit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="error"><span translate="miaApp.dvhDoseResult.error">Error</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dvhDoseResult in vm.dvhDoseResults track by dvhDoseResult.id">
                    <td><a ui-sref="dvh-dose-result-detail({id:dvhDoseResult.id})">{{dvhDoseResult.id}}</a></td>
                    <td>{{dvhDoseResult.containerId}}</td>
                    <td>{{dvhDoseResult.patientId}}</td>
                    <td>{{dvhDoseResult.planLabel}}</td> 
                    <td>{{dvhDoseResult.volumeOfInterest}}</td>
                    <td>{{dvhDoseResult.volumeLimit | number : 1}}</td>
                    <td>{{dvhDoseResult.volumeUnit}}</td>
                    <td>{{dvhDoseResult.targetPrescriptionDose}}</td>
                    <td>{{dvhDoseResult.result | number : 2}}</td>
                    <td>{{dvhDoseResult.resultUnit}}</td>
                    <td>{{dvhDoseResult.error}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="dvh-dose-result-detail({id:dvhDoseResult.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
