
<div>
    <h2><span translate="miaApp.dvhDoseResult.detail.title">Dvh Dose Result</span> {{vm.dvhDoseResult.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="miaApp.dvhDoseResult.doseSopUid">Dose Sop Uid</span></dt>
        <dd>
            <span>{{vm.dvhDoseResult.doseSopUid}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhDoseResult.volumeLimit">Volume Limit</span></dt>
        <dd>
            <span>{{vm.dvhDoseResult.volumeLimit}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhDoseResult.volumeUnit">Volume Unit</span></dt>
        <dd>
            <span>{{vm.dvhDoseResult.volumeUnit}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhDoseResult.targetPrescriptionDose">Target Prescription Dose</span></dt>
        <dd>
            <span>{{vm.dvhDoseResult.targetPrescriptionDose}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhDoseResult.result">Result</span></dt>
        <dd>
            <span>{{vm.dvhDoseResult.result}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhDoseResult.resultUnit">Result Unit</span></dt>
        <dd>
            <span>{{vm.dvhDoseResult.resultUnit}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhDoseResult.version">Version</span></dt>
        <dd>
            <span>{{vm.dvhDoseResult.version}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhDoseResult.calculationIdentifier">Calculation Identifier</span></dt>
        <dd>
            <span>{{vm.dvhDoseResult.calculationIdentifier}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhDoseResult.patientId">Patient Id</span></dt>
        <dd>
            <span>{{vm.dvhDoseResult.patientId}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhDoseResult.planLabel">Plan Label</span></dt>
        <dd>
            <span>{{vm.dvhDoseResult.planLabel}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhDoseResult.containerId">Container Id</span></dt>
        <dd>
            <span>{{vm.dvhDoseResult.containerId}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhDoseResult.volumeOfInterest">Volume Of Interest</span></dt>
        <dd>
            <span>{{vm.dvhDoseResult.volumeOfInterest}}</span>
        </dd>
        <hr>
        <dt><span translate="miaApp.dvhDoseResult.error">Error</span></dt>
        <dd>
            <span>{{vm.dvhDoseResult.error}}</span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
