<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myComputationLabel" translate="miaApp.computation.home.createOrEditLabel">Create or edit a Computation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
       
        <div class="form-group">
            <label class="control-label" translate="miaApp.computation.computationIdentifier" for="field_computationIdentifier">ComputationIdentifier</label>
            <input type="text" class="form-control" name="computationIdentifier" id="field_computationIdentifier"
                    ng-model="vm.computation.computationIdentifier"
                    required />
            <div ng-show="editForm.computationIdentifier.$invalid">
                <p class="help-block"
                    ng-show="editForm.computationIdentifier.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
		 
		<div class="form-group">
			<label translate="miaApp.computation.moduleName" for="field_moduleName">moduleName</label>
			<ui-select name="moduleName" ng-model="vm.computation.moduleName" ng-disabled="disabled" ng-required=true style="width: 100pct;"> 
			<ui-select-match placeholder="Select a computation module...">{{$select.selected.value.moduleName}}</ui-select-match>
			<ui-select-choices repeat="module.value.moduleName as (key, module) in vm.modules | filter: $select.search">
				<span ng-bind-html="module.value.moduleName | highlight: $select.search"></span> 
			</ui-select-choices> 
			</ui-select>
			<p class="help-block"
            	ng-show="editForm.moduleName.$error.required" translate="entity.validation.required">
                This field is required.
            </p>
		</div>

        <div class="well">
            	        
	         <div ng-switch="vm.selectedModuleName()">
	         
				<div ng-switch-when="DoseComputation">
					
					<div class="form-group">
						<label translate="miaApp.computation.operation" for="field_doseoperation">DoseOperation</label> 
						<select
							class="form-control"
							id="field_doseoperation"
							name="doseoperatation"
							ng-model="vm.configuredComputation.operation"
							ng-options="operation as operation for operation in vm.modules.DoseComputation.moduleOperations"
							required >
							<option value=""></option>
						</select>
						<p class="help-block"
                        ng-show="editForm.doseoperatation.$error.required" translate="entity.validation.required">
                        This field is required.
                        </p>
					</div>

				</div>
				
				<div ng-switch-when="DvhCurveComputation">
                    
                     <div class="form-group">
                        <label translate="miaApp.computation.absoluteOutput" for="field_absoluteOutput">absoluteOutput</label> 
                        <select
                            class="form-control"
                            id="field_absoluteOutput"
                            name="absoluteOutput"
                            ng-model="vm.configuredComputation.absolute"
                            ng-options="value as value for value in vm.modules.DvhCurveComputation.absolute"
                            required >
                            <option value=""></option>
                        </select>
                        <p class="help-block"
                        ng-show="editForm.absoluteOutput.$error.required" translate="entity.validation.required">
                        This field is required.
                        </p>
                    </div>
                </div>


                <div ng-switch-when="DvhDoseComputation">
                                        
                    <div class="form-group">
                        <label translate="miaApp.computation.absoluteOutput" for="field_absoluteOutput">absoluteOutput</label> 
                        <select
                            class="form-control"
                            id="field_absoluteOutput"
                            name="absoluteOutput"
                            ng-model="vm.configuredComputation.absoluteOutput"
                            ng-options="value as value for value in vm.modules.DvhVolumeComputation.absoluteOutput"
                            required >
                            <option value=""></option>
                        </select>
                        <p class="help-block"
                        ng-show="editForm.absoluteOutput.$error.required" translate="entity.validation.required">
                        This field is required.
                        </p>
                    </div>
                    
					<div class="form-group">
                        <label translate="miaApp.computation.limit" for="field_limit">limit</label> 
                        <input
                            type="number"
                            class="form-control"
                            id="field_limit"
                            name="limit"
                            ng-model="vm.configuredComputation.limit"
                            placeholder="{{ 'miaApp.computation.integer' | translate }}" 
                            required />
                        <p class="help-block"
                        ng-show="editForm.limit.$error.required" translate="entity.validation.required">
                        This field is required.
                        </p>
                    </div>
                       
                    <div class="form-group">
                        <label translate="miaApp.computation.limitUnit" for="field_limitUnit">limitUnit</label> 
                        <select
                            class="form-control"
                            id="field_limitUnit"
                            name="limitUnit"
                            ng-model="vm.configuredComputation.limitUnit"
                            ng-options="value as value for value in vm.modules.DvhDoseComputation.limitUnit" 
                            required>
                            <option value=""></option>
                        </select>
                        <p class="help-block"
                        ng-show="editForm.volumeType.$error.required" translate="entity.validation.required">
                        This field is required.
                        </p>
                    </div>
                   
                </div>



                <div ng-switch-when="DvhVolumeComputation">
                                        
                     <div class="form-group">
                        <label translate="miaApp.computation.absoluteOutput" for="field_absoluteOutput">absoluteOutput</label> 
                        <select
                            class="form-control"
                            id="field_absoluteOutput"
                            name="absoluteOutput"
                            ng-model="vm.configuredComputation.absoluteOutput"
                            ng-options="value as value for value in vm.modules.DvhVolumeComputation.absoluteOutput"
                            required >
                            <option value=""></option>
                        </select>
                        <p class="help-block"
                        ng-show="editForm.absoluteOutput.$error.required" translate="entity.validation.required">
                        This field is required.
                        </p>
                    </div>
                    
                    <div class="form-group">
                        <label translate="miaApp.computation.limit" for="field_limit">limit</label> 
                        <input
                            type="number"
                            class="form-control"
                            id="field_limit"
                            name="limit"
                            ng-model="vm.configuredComputation.limit"
                            placeholder="{{ 'miaApp.computation.integer' | translate }}" 
                            required />
                        <p class="help-block"
                        ng-show="editForm.limit.$error.required" translate="entity.validation.required">
                        This field is required.
                        </p>
                    </div>
                    
                    <div class="form-group">
                        <label translate="miaApp.computation.limitUnit" for="field_limitUnit">limitUnit</label> 
                        <select
                            class="form-control"
                            id="field_limitUnit"
                            name="limitUnit"
                            ng-model="vm.configuredComputation.limitUnit"
                            ng-options="value as value for value in vm.modules.DvhVolumeComputation.limitUnit" 
                            required>
                            <option value=""></option>
                        </select>
                        <p class="help-block"
                        ng-show="editForm.volumeType.$error.required" translate="entity.validation.required">
                        This field is required.
                        </p>
                    </div>
                                          
                </div>
                
                
                
                <div ng-switch-when="RuntimeComputation">
                    
                    <div class="form-group">
                        <label translate="miaApp.computation.runtimeModule.runtimeComputationName" for="field_runtimeComputationName">Name</label> 
                        <input
                            type="text"
                            class="form-control"
                            id="field_runtimeComputationName"
                            name="runtimeComputationName"
                            ng-model="vm.configuredComputation.runtimeComputationName"
                            required />
                        
                        <p class="help-block"
                        ng-show="editForm.runtimeComputationName.$error.required" translate="entity.validation.required">
                        This field is required.
                        </p>
                    </div>
                    
                    <div class="form-group">
                        
                        <label translate="miaApp.computation.runtimeModule.extConfigFiles">External configuration files</label>
                        <div class="well" style="background-color:white;">
                            <ul ui-sortable class="list-group" ng-model="vm.configuredComputation.configFiles">
                              <li ng-repeat="configFile in vm.configuredComputation.configFiles" class="list-group-item">
                                <span class="glyphicon glyphicon glyphicon-trash pull-right" ng-click="vm.removeConfigFile($index)"></span>
                                <b>{{ configFile.commandParameter }} : </b> {{ configFile.fileNameOriginal }}
                              </li>
                            </ul>
                        </div>
                        
                        <label translate="miaApp.computation.runtimeModule.uploadConfigFile">Upload new configuration file</label>
                        <div class="well" style="background-color:white;">
                        
                            <label translate="miaApp.computation.runtimeModule.commandParameter">Command parameter</label> 
                            <input
                                type="text"
                                class="form-control"
                                id="field_commandParameter"
                                name="commandParameter"
                                ng-model="commandParameter"/>
                            
                            <br>
                            <label translate="miaApp.computation.runtimeModule.selectConfigFile">Select file</label>
                            <input type="file" ngf-select ng-model="configFile" name="configFile">
                            
                            <br>
                            <button type="button" class="btn btn-primary" ng-click="vm.addConfigFile(commandParameter, configFile)">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;<span translate="miaApp.computation.runtimeModule.addConfigFile">Add</span>
                            </button>

                        </div>

                    </div>
                    
                    
                </div>

			</div>
        
        </div>

        <div class="form-group">
			<label translate="miaApp.computation.volumeOfInterest" for="field_volumeOfInterest">volumeOfInterest</label>
			<ui-select name=volumeOfInterest ng-model="vm.computation.volumeOfInterest" ng-disabled="disabled" ng-required=true style="width: 100pct;"> 
			<ui-select-match placeholder="Select a Volume Of Interest...">{{$select.selected.name}}</ui-select-match>
			<ui-select-choices repeat="volumeOfInterest in vm.volumeofinterests | filter: $select.search">
				<span ng-bind-html="volumeOfInterest.name | highlight: $select.search"></span> 
			</ui-select-choices> 
			</ui-select>
			<p class="help-block"
            	ng-show="editForm.volumeOfInterest.$error.required" translate="entity.validation.required">
                This field is required.
            </p>
		</div>
		
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
