<div ng-cloak>
    <div class="row">
        <!-- <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div> -->
        <div class="col-md-8">
            <h1 translate="home.title">Welcome, Java Hipster!</h1>
            <p class="lead" translate="home.subtitle">This is your homepage</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>

            </div>

            <p translate="home.question">
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="https://bitbucket.org/maastrosdt/binaries-and-documentation/issues" target="_blank" translate="home.link.bugtracker">JHipster bug tracker</a></li>
                <li><a href="https://bitbucket.org/maastrosdt/gui" target="_blank" translate="home.link.guimanual">MIA GUI Manual</a></li>
                <li><a href="https://bitbucket.org/maastrosdt/binaries-and-documentation/wiki/Home" target="_blank" translate="home.link.generalmanual">MIA General Manual</a></li>
            </ul>
            <p>
            </p>
        </div>
    </div>
</div>
